@model IEnumerable<CatMash.Models.Cat>

@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12">
        <td>
            @foreach (var cat in Model)
            {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(model => cat.URL)" width="200px" height="200px" />
                    </td>
                </tr>
            }
        </td>
    </div>
</div>

