@model IEnumerable<CatMash.Models.Cat>

@{
    ViewBag.Title = "SeeCats";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="title">Chats :</h1>
            @foreach (var cat in Model)
            {
                <img src="@Html.DisplayFor(model => cat.URL)" width="150px" height="150px" />
            }
    </div>
</div>

