@model IEnumerable<CatMash.Models.Cat>
@{
    ViewBag.Title = "VoteForCats";
}

<address>
    @foreach (var cat in Model)
    {
        <div style="display:inline-block;text-align:center">
            <img src="@Html.DisplayFor(model => cat.Url)" width="400" height="400" style="align-content:center" />
            @using (Html.BeginForm("VoteForCats", "Home", FormMethod.Post))
            {
                <button name="id" value="@Html.DisplayFor(model => cat.Id)">Voter</button>
            }
        </div>
     }
</address>